body {
	background-color: rgb(245,245,220);
}
h1{
	background-color: rgba(50, 115, 220, 0.3);
	font-family: 'Lato', sans-serif;
}
h2{
	background-color: rgba(50, 115, 220, 0.3);
	font-family: 'Lato', sans-serif;
}
h3{
	background-color: rgba(50, 115, 220, 0.3);
	font-family: 'Lato', sans-serif;
}
span {
	margin: 10px auto;
	display: inline-block;
	position: relative;
	background-color: rgba(50, 115, 220, 0.3);
	font-family:"Comic Sans MS", cursive, sans-serif;
	padding: 12px 50px;
}
nav{
     width: 75%;
	text-align: center;
	margin: 0px auto;
	text-decoration: none;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

p{
	font-family:  "Lucida Console", Monaco, monospace;
}
li{
	font-family: "Lucida Console", Monaco, monospace;
}
